html{
font-size: 62.5%;
overflow-x: hidden;
scroll-behavior: smooth;
scroll-padding-top: 3rem;

}

body { 

background-color:rgb(216, 95, 174);
 }

section{
    padding: 3rem 2rem;
    max-width: 1200px;
    margin: 0 auto;

}
.header .flex{
display: flex;
align-items: center;
justify-content: space-between;
gap: 1.5rem;

}


.header .flex .logo {   

    color: var(--sub-color);
   font-size: 2rem;

}

.header .navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.5rem;
    margin-top: 2rem;
    background-color: rgb(225, 225, 236);
    padding : .5rem;
    border-radius: .5;
}

.header .navbar a {
    font-size: 1.8rem;
    color: rgb(8, 8, 7);
    padding: 1rem 3rem ;
    border-radius: .5rem;
}

.header .navbar a:hover{
background-color:rgb(216, 95, 174);
       color: blue;
}




































@media.(max-width:991px){
    html{
        font-size: 55%;
       
    }
}


@media.(max-width:768px){
   .header .flex .fa-bars{
    display: inline-block;
   }

}

@media.(max-width:450px){
    html{
        font-size: 50%;
       
    }
}